@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

body {
  background-color: #f5f6fa;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
	font-size: 30px;
	margin-bottom: 30px;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_forms {
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.login_forms .form {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-end;
  padding: 30px;
}

.login_forms .form * {
  margin: 3px;
}

.login_forms .form input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #dcdde1;
  height:50px;
}

.main_container {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.submit_button  {
  display: inline-block;
  padding: 5px 5px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f5f6fa;
  background-color: #3B3B3B;
  border: none;
  border-radius: 7px;
}

.cancel_button {
  display: inline-block;
  padding: 5px 5px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #9C9C9C;
  background-color: #E1E1E1;
  border: none;
  border-radius: 7px;
}

.gen_form {
  margin: 20px;
  border-radius: 25px;
  padding: 20px;
  max-width: 400px;
}

.gen_form:hover {
  background-color:#dcdde1;
  transition-duration: 500ms;
}

.gen_form:focus-within {
  background-color:  #dcdde1;
  transition-duration: 500ms;
}

.form_header {
  text-align: center;
}

.alert_message {
  color: #e84118;
  background-color: lightpink;
  padding: 7px;
}

.medium_alert_message {
  color:#EC6801 ;
  background-color:#FFB352 ;
  padding: 7px;
}